# General ignores
.DS_Store
build/
out/
java_pid*.hprof

gradle/kotlin-js-store/

_examples/gradle/kotlin-js-store/
_examples/.idea/

**/.kobweb/server/
**/.kobweb/site/

# IntelliJ ignores
*.iml
/*.ipr

# Gradle ignores
.gradle/

# Kotlin ignores
.kotlin/
__pycache__/

.env.agent
.env.local
